@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');

@font-face {
  font-family: 'SuseongDotum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/SuseongDotum.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'D2Coding';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: #fffffc;
  --color-lightgray: #f1f1f1;
  --color-gray: #919191;
  --color-darkgray: #474747;
  --color-red: #9c1d2b;
  --color-black: #0f0d0c;
  --color-white: #ffffff;

  --color-primary: #e4c2c1;
  --color-secondary: #b6666f;
  --color-point: #f53163;
}

* {
  margin: 0;
  font-size: 18px;
  ::selection {
    background-color: var(--color-primary);
  }
}

body {
  background-color: var(--background-color);
}

h1 {
  font-family: 'Pretendard';
  font-size: 1.5rem;
  color: var(--color-point);
  font-weight: 700;
}

h2 {
  font-family: 'Pretendard';
  font-size: 1.3rem;
  color: var(--color-point);
  font-weight: 700;
}

h3 {
  font-family: 'Pretendard';
  font-size: 1.3rem;
  margin: 7px auto;
}

p {
  font-family: 'Pretendard';
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

ul {
  font-family: 'Pretendard';
  font-weight: 500;
}

ul + p {
  margin-left: 20px;
}

blockquote {
  width: 95%;
  margin: 1rem 0;
  background-color: var(--color-lightgray);
  border-left: 3px solid var(--color-point);
  font-style: italic;
  line-height: 1.8em;
  padding: 1em 2em;
}

pre {
  background-color: var(--color-darkgray);
  color: var(--color-white);
  font-family: 'D2Coding';
  font-size: 0.8rem;
  padding: 20px 15px;
  margin: 1rem 0;
  border-radius: 10px;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-justify {
  display: flex;
  justify-content: space-between;
}
