.postList {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  row-gap: 40px;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;

  .post {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    align-items: flex-start;
    cursor: pointer;

    .wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .summary {
        display: flex;
        flex-flow: column wrap;
        gap: 7px;
        width: 90%;

        .title {
          font-size: 1.3rem;
          color: var(--color-black);
          background: transparent;
          width: fit-content;
        }

        .desc {
          width: 95%;
          color: var(--color-darkgray);
          font-size: 0.9rem;
          line-height: 1rem;
        }
      }

      .date {
        width: 10%;
        font-size: 0.8rem;
        color: var(--color-darkgray);
      }
    }
  }
}
