.postList {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 30%);
  gap: 20px;
  row-gap: 40px;

  .post {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    align-items: flex-start;

    .image {
      position: relative;
      width: 100%;
      border: 3px solid var(--color-black);
      border-radius: 6px;
      height: 200px;
      cursor: pointer;
      object-fit: cover;
      overflow: hidden;
    }

    .summary {
      display: flex;
      flex-flow: column wrap;
      gap: 7px;

      .title {
        font-family: 'SuseongDotum';
        font-size: 1.2rem;
        color: var(--color-black);
        cursor: pointer;
        background: transparent;
        width: fit-content;
      }

      .date {
        font-family: 'godo';
        font-size: 0.9rem;
        color: var(--color-darkgary);
        margin-bottom: 3px;
      }

      .desc {
        font-family: 'godo';
        color: var(--color-gray);
        font-size: 0.8rem;
      }
    }

    .btnGroup {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      align-items: flex-end;

      a {
        text-decoration: none;
        color: var(--color-black);
        font-size: small;
      }

      .keywords {
        display: flex;
        gap: 10px;

        .keyword {
          background-color: var(--color-point);
          color: white;
          padding: 5px 8px;
          font-size: small;
          font-weight: bold;
          border-radius: 15px;
          cursor: pointer;
        }
      }
    }
  }
}
