.header {
  height: 4rem;
  border-bottom: 1px solid var(--color-darkgray);
  margin-bottom: 1rem;
  color: var(--color-black);
  padding: 0 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  .blogName {
    font-family: 'SuseongDotum';
    font-weight: 500;
    font-style: italic;
  }

  .list {
    font-family: 'GangwonEdu_OTFBoldA';
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    gap: 30px;

    a {
      color: var(--color-white);
      text-decoration: none;
    }
  }
}
