.section {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Pretendard';

  .header {
    background-color: var(--color-black);
    padding: 100px 30px;
    color: var(--color-white);
    display: flex;
    flex-flow: column wrap;

    .link {
      margin-bottom: 90px;

      a {
        text-decoration: underline;
        color: var(--color-lightgray);
      }
    }

    .title {
      font-family: 'Pretendard';
      font-size: 1.7rem;
      color: var(--color-white);
      font-weight: 800;
    }

    .subtitle {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 10px;
      gap: 20px;

      .date {
        font-size: 1rem;
      }

      .keywords {
        display: flex;
        gap: 10px;

        .key {
          font-size: 0.8rem;
          padding: 3px 6px;
          background-color: var(--color-primary);
          border-radius: 10px;
          color: var(--color-black);
        }
      }
    }

    .btnGroup {
      margin-top: 10px;
      display: flex;
      gap: 10px;
      text-decoration: underline;
      span {
        font-size: 0.8rem;
        cursor: pointer;
      }
    }
  }
  .contents {
    width: 100%;
    word-break: break-all;
    margin: 3rem 1rem;
    font-weight: 200;

    strong {
      font-weight: 700;
    }

    ul + p {
      margin-top: 10px;
      margin-left: 40px;
    }
  }
}
